body{
    background: url('giphy.gif') no-repeat center center fixed; 
            -webkit-background-size: cover;
                    -moz-background-size: cover;
                            -o-background-size: cover;
                                    background-size: 100% 100%;
                                    }
