/*div{
	border: 4px solid;
	border-color: white;
}*/
html{
	height: 100%;
	width: 95%;
}

body{
	margin: 30px;
	background-color: black;
	height: 90%;
	width: 100%;
}

h1{
	color: white;
	font-size: 70px;
	display: table-cell;
	margin-left: 10%;
}

h3{
	text-align: center;
	font-size: 25pt;
    line-height: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    color: white;
}

}

#c1{
	color: white;
}

#c2{
	color: #C10E02;
	font-size: 23pt;
}

#title{
	width: 90%;
	height: 15%;
	position: relative;
	left: 5%;
}

#main{
	height: 85%;
	width: 100%;
	display: block;
	background-color: white;
	border-radius: 4px;
	padding-top: 20px;
}

#choice{
	height: 20%;
	width: 100%;
	margin-bottom: 20px;
}

#pill{
	height: 70%;
	width: 85%;
	margin: 0 auto;
	border-radius: 47px; 
	-moz-border-radius: 47px; 
	-webkit-border-radius: 47px; 
	background-color: white;
	margin-top: 0;
}

#content{
	height:70%;
	width: 100%;
}

#choice1{
	width: 50%;
	height: 100%;
	background-color: #C10E02;
	float: left;
	border-radius: 47px 0px 0px 47px; 
    box-sizing: border-box;
    border-right: none;
    cursor: pointer;
	cursor: hand;
}

#choice2{
	width: 50%;
	height: 100%;
	background-color: white;
	float: right;
	border-radius: 0px 47px 47px 0px; 
	border: 2px solid #C10E02;
	border-left: none;
    box-sizing: border-box;
    cursor: pointer;
	cursor: hand;
}

#listItem{
	height: 30%;

}

#l1{
	border-bottom: 2px dotted;
	border-color: #C5C5C5;
	height: 100%;
	width: 10%;
	float: left;
	color: #2B2C2C;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}

#l1 p{
	margin-top: -8px;
	word-break: break-all;
}

#l2{
	border-bottom: 2px solid;
	border-color: #C5C5C5;
	height: 100%;
	width: 80%;
	float: left;
	color: #4B4B4B;
	font-size: 25px;
	font-weight: 600;	
}

#l2 p{
	margin-top: 3px;
	word-break: break-all;
}

#l3{
	border-bottom: 2px solid;
	border-color: #C5C5C5;
	height: 100%;
	width: 10%;
	float: left;
	color: #8A8A8A;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}

#l3 p{
	margin-top: -8px;
	word-break: break-all;
}

